.Technologies {}

.card {
    padding: 20px;
    background-color: var(--card-color);
    border-radius: 5px;
    height: inherit;
    transition: transform 300ms;

}

.card > img {
    margin-bottom: -20px;
}

.card > p {
    text-align: left;
    margin: 0 0 10px 0;

}
.card > h2 {
    text-align: left;
    margin-bottom: 0;
}

.card:hover {
    transition: transform 300ms;
    transform: translateY(-5px);
}

.bg-red {
    background-color: var(--prim-color);
    border-radius: inherit;
}

.inline {
    display: flex;
}
