.App {
  text-align: center;
}

.buttons {
  max-width: 80%;
}

.heading > a {
  max-width: inherit;
}
.heading > a > .title {
  margin-bottom: 1vmax;
  font-size: calc( 50px + (80 - 50) * (100vw - 400px) / (800 - 400) );
  max-width: inherit;
}

.heading {
  margin-left: 30px;
  margin-bottom: 2vh;
  max-width: 1000px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: calc( 15px + (20 - 15) * (100vw - 400px) / (800 - 400) );


}

.buttons > Button,
.buttons > * > Button {
  margin: 0 5px 0 5px;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: white;
}

li {
  float: left;
  transition: background-color 50ms;
  border-radius: 5px;
}

h1 > span {
  color: var(--prim-color);
}


li + li:before {
  content: "//";
  color: var(--prim-color);
}

.App,
.App-header {
  background-color: var(--bg-color);
  min-height: 40vh;
  margin-bottom: 2vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: normal;
  font-size: calc(10px + 2vmin);
  color: white;
}

