
* {
  --bg-color: #282c35;
  --prim-color: #f50057;
  --prim-color-dark: #bc094d;
  --card-color: #00000055;
}

body {
  background-color: var(--bg-color);
  margin: 0;
}

code, body {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  transition: background-color 200ms;
  background-color: var(--prim-color-dark);

  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  transition: background-color 200ms;
  background-color: var(--prim-color);
}
